@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  border: none;
  border-radius: 8px;
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-bottom: 130px;
}
/* header styles */

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-img {
  width: 100%;
}
.teams {
  align-items: center;
}
.team-img-container {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 73px;
}
.section-title {
  font-size: 2.8rem;
  max-width: 468px;
  color: #727272;
  margin-bottom: 24px;
}

.our-features p {
  max-width: 537px;
  font-size: 1rem;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
.facts-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
}

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#fact-description {
  max-width: 540px;
}

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.features {
  gap: 140px;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card,
.feature-title {
  font-weight: 600px;
  font-size: 1.25rem;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }

  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 20px;
  }
  .feature-title {
    margin-top: 10px;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
  }
  .facts-container,
  .sponsor-companies {
    justify-items: center;
    gap: 24px;
  }
  #fact-description {
    margin-right: 10px;
    margin-left: 10px;
  }
  .section-title {
    margin-left: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px;
  }
}
